@charset "ISO-8859-1";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




/* Start of Navigation Bar */
nav
{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.logo
{
    float: left;
    margin-left: 75px;
    font-family: 'Bebas Neue', sans-serif;
    color: #69407a;
}

.logo p{
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.list ul
{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.list ul li
{
    margin: 0 20px;
    font-size: 1.2rem;
}

.list li a
{
    text-decoration: none;
    color: #69407a;
    
    /* color: #000000; */
    /* color: #fff; */
    font-family: 'Anton', sans-serif;
    font-size: 1.1rem;
    padding: 7px 5px;
    transition: border-bottom 0.3s ease;
    transition: background-color 0.7s ease, color 0.7s ease, transform 0.7s ease;
}

.list li .active{
    background-color: #8a2be2; /* Change to a different color on hover */
    color: #fff;
    padding: 7px 10px;
    border-radius: 4px;
    transform: scale(10);
}

.list li a:hover:not(.active){
    border-bottom: 5px solid #8a2be2;
    
    transform: scale(10);
}


.login {
    display: inline-block;
    background-color: #69407a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-right: 100px;
}

.login:hover {
    background-color: #563564;
}

.login a
{
    padding: 7px 14px;
    width: 100%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    display: block;
}

.user-profile{
    background-color: #FFF;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    margin-right: 100px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile #profile{
	display: block;
	border-radius: 50%;
	padding: 5px 10px;
	color: #8a2be2;
	text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border: 3px solid #8a2be2;
    letter-spacing: 2px;
    margin-right: 20px;
}


/* .user-profile:hover {
    background-color: #69407a;
}

.user-profile:hover a{
	color: #EEE;
} */
/* End of Navigation Bar */